<label for="favorite-cookie">What's your favorite cookie?</label>
{{#select-menu id="favorite-cookie" options=model value=favoriteCookie onchange=(action (mut favoriteCookie)) as |option|}}
  {{option.name}}
{{else}}
  Pick a cookie
{{/select-menu}}
<div id="favorite">{{favoriteCookie.name}}</div>

{{#select-menu id="alphabet" options=alphabet value=character onchange=(action (mut character)) as |option|}}
  {{option}}
{{/select-menu}}
