<label for="country">Country</label>
{{#single-select id="country" options=model value=country onchange=(action (mut country)) as |option|}}
  {{option.name}}
{{else}}
  Select the country...
{{/single-select}}
